h1, .h1, a {
  color: #862633;
}
h2, .h2 {
  color: #862633;
}
h3 {
  color: #862633;
}

#header > .row {
  border-bottom: 0.25rem solid #D7D2CB;
}

@media screen and (max-width: 480px) {
  h1,
  .h1 {
    font-size: 1.5rem;
  }
  #header > .row {
    height: 4.5rem;
  }
}

@media screen and (max-width: 360px) {
  h1, .h1 {
    font-size: 1.2rem;
  }
}

.btn-primary {
  background-color: #862633;
  border-color: #862633;
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: #3D3935;
}
.btn-primary:hover {
  background-color: #3D3935;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #D7D2CB;
  border-color: #3D3935;
}
.pagination > li > a, .pagination > li > span { color: #862633; }

.top-bar {
    background: #FFFFFF !important;
    border-top: none;
    border-bottom: none;
    float: none !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #D7D2CB;
}

#header > .row {
  border-bottom: 0.25rem solid #D7D2CB;
  background: #862633;
}

#header > div > div.col-sm-9 > p { 
  color: #FFFFFF;
}

.record-type-badge.agent {
  color: #D50032;
}
.record-type-badge.archival_object {
  color: #3D3935;
}
.record-type-badge.digital_object {
  color: #3D3935;
}
.record-type-badge.repository {
  color: #51284F;
}
.record-type-badge.resource{
  color: #FF6A39;
}
.record-type-badge.subject {
  color: #70C0BE;
}

.tabbing.nav-pills > li > a {
  background-color: #862633;
  color: #FFF;
}
.tabbing.nav-pills > li > a:hover,
.tabbing.nav-pills > li > a:focus,
.tabbing.nav-pills > li > a:focus-within {
  background-color: #3D3935;
  color: #FFF;
}
.tabbing.nav-pills > li > a.active {
  background-color: #3D3935;
  color: #FFF;
}
.navbar-default .navbar-nav > li > a.nav-link {
  color: #FFF !important;
  font-size: 1rem !important;	
  background: #862633 !important;
  border-radius: 4px !important;
  border: 1px solid #862633;
}
.navbar-default .navbar-nav > li > a.nav-link:hover,
.navbar-default .navbar-nav > li > a.nav-link:focus {
  color: #000;
  text-decoration: underline;
  font-weight: 600;
  background: #D7D2CB;
  border-radius: 4px;
  border: 1px solid black;
}
