h1, .h1, a { color: #862633; }
h2, .h2 { color: #D7D2CB; }
h3 { color: #3D3935; }

#header > .row { border-bottom: 0.25rem solid #8b2332; }

@media screen and (max-width: 480px) {
  h1, .h1 { font-size: 1.5rem; }
  #header > .row { height: 4.5rem; }
}

@media screen and (max-width: 360px) {
  h1, .h1 { font-size: 1.2rem; }
}

.btn-primary {
  background-color: #862633;
  border-color: #862633;
}

.btn-primary:focus,.btn-primary.focus { background-color: #3D3935; }
.btn-primary:hover { background-color: #3D3935; }

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #D7D2CB;
  border-color: #3D3935;
}
.pagination > li > a, .pagination > li > span { color: #862633; }

.navbar-default .navbar-nav > li > a { color: #862633; }

.record-type-badge.agent { color: #D50032; }
.record-type-badge.archival_object { color: #6D1D45; }
.record-type-badge.digital_object { color: #9cc659; }
.record-type-badge.repository { color: #3D3935; }
.record-type-badge.resource { color: #D7D2CB; }
.record-type-badge.subject { color: #FF6A39; }
